.hero_header{
    position: relative;
    height: 85dvh;
    z-index: -999;
}
.hero_container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    align-items:center;
    width: 100%;
    column-gap: 2%;
}
.text_container{
    flex-basis: 50%;
}
.text_container h1{
    font-size:60px;
}
.text_container p{
    margin: 1rem 0;
    font-size: large;
}
.img_container{
    flex-basis: auto;
    
}
.img_container>div{
    border: 5px dashed var(--primary-color);
    border-radius: 50%;
}
.img_container>div>div{
     position: relative;
    height: 450px;
    width: 450px;
    background: linear-gradient(to bottom, var(--primary-color), var(--secondary-color))!important;
    margin: 1rem;
    border-radius: 50%;
}
.img_container img{
    position: absolute;
}
.sponsors{
    display: flex;
    align-items: center;
    height: 100px;
     background: linear-gradient(to bottom, var(--primary-color), var(--secondary-color))!important;
}