nav{
    position:sticky;
    top: 0%;
    right: 0%;
    left: 0%;
    width: 100%;
    background-color: white;
}
.navbar_container{
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: 1rem;
}
.logo{
    display: flex;
    align-items: center;
    column-gap: 5px;
}
.logo img{
    width: 30px;
    height: 30px;
}
.nav_links{
    display: none;
}
.head{
    position: relative;
    cursor: pointer;
}

.head:hover .dropdown_list{
    display: block;
}
.head svg{
    transition-duration: 0.3s;
}
.head:hover svg{
    transform: rotate(180deg);
}
.nav_links li{
    list-style: none;
}
.nav_links>li{
    margin-right: 2rem;
    padding: 0.5rem 0;
}
.nav_links a{
    text-decoration: none;
}
.dropdown_list{
    display: none;
    width: 250px;
    border: 1px solid var(--light-black);
    position: absolute;
    top: 100%;
    background-color:white;
    box-shadow: 0px 4px 12px -2px rgba(0,0,0,0.41);
    -webkit-box-shadow: 0px 4px 12px -2px rgba(0,0,0,0.41);
    -moz-box-shadow: 0px 4px 12px -2px rgba(0,0,0,0.41);
    z-index: 100;
}
.dropdown_list li{
    padding: 1rem;
    border-bottom: 1px solid var(--light-black);
}
.dropdown_list li:hover{
    background-color: whitesmoke;
}

.nav_buttons{
    display: none;
}

.menuBtn{
    cursor: pointer;
    transition-duration: 0.3s;
    color: var(--primary-color);
}



/* MEDIA QUERIES */
@media (min-width: 576px) {
  
}

@media (min-width: 768px) {
   
}

@media (min-width: 992px) {
   .navbar_container{
        padding:1rem 0;
    }
 .menuBtn{
    display: none;
 }
 .nav_links{
    display:flex;
    align-items: center;
 }
 .nav_buttons{
    display:block;
 }
}

@media (min-width: 1200px) {
  
}

@media (min-width: 1400px) {
  
}
